html {
  height: 100%;
  width: 100%;  
}

body{
  font-family: Arial, Helvetica, sans-serif; 
  background-color: white;   
  margin: 0%;
  width: 100%; 
  height: 100%;
}

header{
  background-color: #0c94a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-image: url("/imagens/bakcground.jpg");    
}

header div{
  display: flex;
  align-items: center;
  gap: 20px;
}

header h1{
  border: solid black;
  border-radius: 10px;
  background-color: #ff4000;

}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

nav h3{
  border: solid black;
  border-radius: 10px;
  background-color: #080882;
  color: white;
  padding: 5px;
  text-decoration: underline;
  cursor: pointer;
}

nav h3:hover{
  background-color: orange;
}

header nav a{
  color: white;
}

header img{
  width: 80px;
  border-radius: 100%;
  border: solid black 2px;  
}


main{
  height: 100vh;
  background-image: url("/imagens/Imagem-orcamento.png");
  background-color: white;
  display: flex;
  flex-direction: column;  
  align-items: center;  
  gap: 50px;  
}


footer{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: #0c94a6;
  color: white;  
  position: fixed;  
  bottom: 0px;
  width: 100%;
  z-index: 1;
}

#botao-viagem{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  padding: 10px;
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: brown;
  cursor: pointer;
  z-index: 2;
}

#botao-viagem:hover{  
  background-color: #d07206
}




table{
  border: black solid 2px;
  width: 800px;
  font-size: 30px;
  border-collapse: collapse;
  text-align: center;
  background-color: #0c94a6;
  color: white;
  margin-top: 50px;   
}

tr, td, th{
  border: black solid 2px;
}

th{
  background-color: orange;
  color: black;
}

ul{
  font-size: 15px;
  font-weight: bold;  
  align-self: center;
  border: solid;
  background-color: #0c94a6;
  padding: 30px;
}